@import '../../sass/mixins';

.InputBox__values{

    h2{
        font-size: 3.5rem;
        margin: 2rem;
        text-transform: uppercase;

        @include respond(tabl-lands-1200){
            font-size: 3.0rem;
        }

        @include respond(tabl-port-800){
            font-size: 2.5rem;
        }
    }
}


.BtnAdd{
    width: 25rem;
    font-size: 2.5rem;
    font-family: var(--font-family_2);
    background-color:var(--color-base-green-light);
    color: var(--color-base-light);
    padding: .5rem 2.5rem;
    box-shadow: 5px 2px 5px rgba(#000000, .5);
    text-transform: uppercase;
    margin-bottom: 3rem;
    transition: all .3s;

    
    &:hover{
        background-color:var(--color-base-green-light2);
        // background-color:var(--color-gold);
        border-radius: 0px;
        letter-spacing: 3px;

    }

    &:active {
        transform: translateY(0px);
        border-radius: 0;
    }

    &:focus{
        outline: none;
    }
}


