@import '../../../sass/mixins';

.single_value{
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include respond(phone-600){
       flex-direction: column;
    }


    input{
        width: 25rem;
        font-family: inherit;
        border:  2px solid transparent;
        outline: 1px solid black;

        &:hover, &:focus{
            border: 2px solid var(--color-base-green-light2);
            border-radius: 0px;
            outline: none;
        }

        &::-webkit-input-placeholder{
            padding-left: .5rem;
        }

    }
}