@import '../../../sass/mixins';

.MaxTransView{
    background-color: var( --color-base-light);
    font-family: var( --font-family_2);
    border-left: var(--boredr);
    box-shadow: 5px 20px 15px rgba(#000000, .5);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 20rem;
    padding-bottom: 2rem;
    transition: all .5s;

    &.not_active{
        box-shadow: none;
        height: 12rem;
        opacity: .5;
        border: none;
    }

    @include respond(tabl-lands-1100){
        width: 30%;
        // flex: 1;
    }

    @include respond(tabl-port-900){
        width: 90%;
        flex: 1;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    h3{
        color:var(--color-base);
        font-size: 2.7rem;
        margin: 2rem;
        text-transform: uppercase;
        text-align: center;
        margin-top: 4rem;
        
        @include respond(tabl-lands-1200){
            font-size: 2.5rem;
        }
    }
}