@import '../../../sass/mixins';

.MaxTransView{
    background-color: var( --color-base-light);
    font-family: var( --font-family_2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2rem;
    transition: all .5s;
    flex: 1;

    @include respond(tabl-lands-1100){
        width: 30%;
    }

    @include respond(tabl-lands-1000){
        width: 100%;
        flex: 1;
        margin-right: 0rem;
        margin-bottom: 3rem;
        box-shadow: 5px 20px 15px rgba(#000000, .5);
    }

    h3{
        color:var(--color-base);
        font-size: 2.7rem;
        margin: 2rem;
        text-transform: uppercase;
        text-align: center;
        margin-top: 4rem;
        
        @include respond(tabl-lands-1200){
            font-size: 2.5rem;
        }
    }
}