@import './sass/mixins';
*,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  :root{
    --font-family_1: 'Open Sans', sans-serif;
    --font-family_2: 'Roboto Condensed', sans-serif;
    --color-base: #2F4F4F;
    --color-base-green-light: #466767;
    --color-base-green-light2: #5c807f; 
    --color-base-light: #F5F5F5; 
    --color-base-light2: #dcdcdc; 
    --color-gold: #FF8C00; 
    --boredr: 1px solid black;
    --boredr-thick: 3px solid black;
  }
  html{
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(tabl-lands-1200){
      font-size: 50%;
    }
  }
    
  
  body{
    font-family: var(--font-family_2);
    font-weight: 300;
    font-size: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom, rgba(245,245,245,.7), rgba(245,245,245,.7)),url(./img/dmitry-demidko-z4VuRg-ZOEg-unsplash_small.jpg);
  }

