@import '../../sass/mixins';

.TransactionSummary{
    background-color: var(--color-base);
    width: 95vw;
    min-height: 20rem;
    display: flex;
    min-height: 20rem;
    margin-bottom: 4rem;

    @include respond(phone-700){
        flex-direction: column;
        align-items: center;
    }
}