@import '../../sass/mixins';

.TransactionSummary{
    background-color: transparent;
    opacity: 0.85;
    width: 80vw;
    min-height: 20rem;
    display: flex;
    margin-bottom: 4rem;
    box-shadow: 5px 20px 15px rgba(#000000, .5);
    transition: all .5s;

    &.not_active{
        box-shadow: none;
        opacity: .5;
        height: 12rem;
        box-shadow: 5px 20px 15px rgba(#000000, .5);
    }

    @include respond(tabl-lands-1000){
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }
}
